<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="HttpServer" value="localhost"/>
    <add key="Port" value="null"/>
    <add key="QueryAuth" value="/Controlls/Auth.php"/>
    <add key="QueryRegister" value="/Controlls/Register.php"/>
    <add key="QuerySaveData" value="/Controlls/SaveData.php"/>
    <add key="QueryGetData" value="/Controlls/GetData.php"/>
  </appSettings>
</configuration>